<!--全体部分-->
<div class="main-index">
  <div class="index-box">
     <!--質問部分-->
    <div class="question-box">
      <div class="question-title">
      <%= @question.title %>
      </div>
      <div class="question-content">
      <%= @question.content %>
      </div>
      <div class="question-name">
        質問者：<%= @question.name %>
      </div>
    </div>
     <!--回答欄部分-->
    <div class="question-header">
      <div class="question-logo">回答欄</div>
    </div>
    <% @answers.each do |answer| %>
      <div class="messges-box">
        <div class="Comment-numbers">
          <div class="number">0</div>
          <div class="comment">comments</div>
        </div>
          <div class="questions-box">
            <div class="title-user">  
              <div class="user">
                回答：<%= answer.content %><br>
              </div>
            </div>
            <div class="questions">
                投稿者名：<%= answer.name %><br><br>
            </div>
          </div>
        </div>
        <!--回答部分-->
    <% end %>
    <div class="answer-header">
      <div class="answer-logo">回答</div>
    </div>
    <%= form_with(model: [ @question, @answer ],  local: true) do |form| %><br>
    <div class="answer-content-box">
      <div class="content">
        <%= form.text_area :content, rows: 4, placeholder: '回答する' %><br>
      </div>
      <div class="text">
        <%= form.text_field :name, placeholder: '名前' %><br>
      </div>
      <div class="send">
        <%= form.submit 'POST' %>
      </div>
    <% end %>
    </div>
  </div>
</div>