<!DOCTYPE html>
<html>
  <head>
    <title>TechChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header-tite">
        <%= link_to 'TechChat', '/' %>
      </div>
      <div class="header-right-btn">  
        <%= link_to '質問する', '/questions/new' %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
